@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: #F99F48;
  color: #4B5563;
  height: 60px;
}

.footer {
  background-color: #1B435D;
  color: #FFFFFF;
  padding: 1rem 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.profile-image {
  width: 9rem;
  height: 9rem;
  border-radius: 9999px;
  object-fit: cover;
  border: 4px solid #78BBE6;
  margin-right: 2rem;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4rem;
}

.card-container {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #D5EEFF;
}

.square-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

.error-message {
  margin-bottom: 1rem;
  color: #e53e3e; 
  padding: 0.5rem;
  border: 1px solid #e53e3e;
  border-radius: 0.375rem;
  background-color: #fff5f5;
  font-weight: bold;
}

.space-x-button > * {
  margin-right: 8px;
}

.space-x-button > :last-child {
  margin-right: 0;
}
