<head>
  <title>My App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha384-6q6D1UAw1AcYq2tHdG0Ht69kHIb8DQzA4RuE2T3eYpmQ6t4iH7t18Wm+xN9+L/zY" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha384-pRngLP9P1iQXQk1ShBU9EjbD20/iUBGk4B++LFSR0hGyzgG74GsKhHIS7V8boTqZ" crossorigin="anonymous"></script>
</head>

<div id="form_container">
 <%= render "form" %>
</div>
