<div class="items-center justify-center">
  <h2 class="text-center text-xl text-black-400 font-bold mb-4 mt-6">
    <%= @cat.name %> のプロフィール
  </h2>

  <div id="cat-images" data-total-images="<%= @cat.images.size %>"></div>
  
  <!-- Main Swiper -->
  <div class="swiper-container main-swiper">
    <div class="swiper-wrapper">
      <% @cat.images.each do |image_url| %>
        <div class="swiper-slide">
          <img src="<%= image_url %>" class="main-image">
        </div>
      <% end %>
    </div>

    <!-- Pagination & Navigation -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Thumbnail Swiper -->
  <div class="swiper-container thumb-swiper" style="margin-top: 20px;">
    <div class="swiper-wrapper">
      <% @cat.images.each do |image_url| %>
        <div class="swiper-slide" style="cursor: pointer;">
          <img src="<%= image_url %>" class="thumbnail-image" style="border: 2px solid transparent;">
        </div>
      <% end %>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const mainSwiperContainer = document.querySelector('.main-swiper');
    const thumbSwiperContainer = document.querySelector('.thumb-swiper');

    // サブSwiperの設定
    const thumbSwiperOptions = {
      slidesPerView: 'auto',
      spaceBetween: 10,
      centeredSlides: true,
      slideToClickedSlide: true,
      loop: false,
    };

    const thumbSwiper = new Swiper(thumbSwiperContainer, thumbSwiperOptions);

    // メインSwiperの設定
    const mainSwiperOptions = {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      loop: false,
      thumbs: {
        swiper: thumbSwiper,
      },
    };

    const mainSwiper = new Swiper(mainSwiperContainer, mainSwiperOptions);

    // サブSwiper内のスライドをクリックしたときのイベント
    thumbSwiper.slides.forEach((slide, index) => {
      slide.addEventListener('click', () => {
        // メインSwiperのスライドを切り替え
        mainSwiper.slideTo(index); // メインSwiperのスライドを移動
        thumbSwiper.slideTo(index); // サブSwiperも同じインデックスに移動
      });
    });
});
</script>
